/* Front End CSS file for the a-staff plugin */
/* Loop styles */
.a-staff-members {
  margin: 0 -10px 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.a-staff-cols-1 .a-staff-member-box-wrapper {
  width: 100%;
}
.a-staff-cols-2 .a-staff-member-box-wrapper {
  width: 50%;
}
.a-staff-cols-3 .a-staff-member-box-wrapper {
  width: 33.3333%;
}
.a-staff-cols-4 .a-staff-member-box-wrapper {
  width: 25%;
}
.a-staff-cols-5 .a-staff-member-box-wrapper {
  width: 20%;
}
.a-staff-cols-6 .a-staff-member-box-wrapper {
  width: 16.6666%;
}
/* Box styles */
.a-staff-member-box-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
}
.a-staff-member-box {
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}
.a-staff-member-box > a:first-child {
  line-height: 0;
  display: block;
  overflow: hidden;
  padding: 0;
}
.a-staff-member-box a,
.a-staff-member-box a {
  text-decoration: none;
  box-shadow: none;
  border-bottom: 0;
}
.a-staff-member-box img.a-staff-member-image {
  margin: 0 auto;
  width: 100%;
}
.a-staff-member-title {
  font-style: italic;
}
.a-staff-member-box .a-staff-member-bio {
  margin-bottom: 2em;
}
.a-staff-member-box .a-staff-member-bio br {
  margin-bottom: 1em;
}
.a-staff-member-box .a-staff-member-social {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 100%;
}
.a-staff-nophone .a-staff-member-box .a-staff-member-social {
  margin-top: auto;
}
.a-staff-noicons .a-staff-member-box .a-staff-member-social {
  display: none;
}
.a-staff-member-social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.a-staff-member-social li::before {
  display: none;
}
.a-staff-member-social li a {
  text-decoration: none;
  box-shadow: none;
}
.a-staff-member-box > p,
.a-staff-member-box > h3 {
  padding-left: 10px;
  padding-right: 10px;
}
.a-staff-member-box > h3 {
  margin-top: 1em;
  padding-top: 0;
}
.a-staff-member-box .a-staff-member-phone {
  margin-top: auto;
  margin-bottom: 1em;
}
/* Single Member page */
.a-staff-single-member-name {
  display: inline-block;
}
.a-staff-single-member-titles {
  font-style: italic;
}
.a-staff-single-departments span {
  font-style: italic;
}
